body {
    background-color: #E5E5E5;
}

.solution-map {
    background-color: white;
    margin: 140px;
    width: 80%;
    height: 600px;
}

.idea-circle {
    fill: #C4C4C4;
    transition: fill .3s ease;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
}

.idea-circle:hover,
.idea-circle:focus {
    fill: black !important;
}

.idea-detail-container {
    visibility: hidden;
    position: absolute;
    border: 1px solid black;
    background-color: white;
    width: 160px;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.idea-detail-container.shown {
    opacity: 1;
    visibility: visible;
}

.idea-detail-container img {
    width: 50px;
    height: auto;
}

svg {
    outline: 1px solid black;
    width: 500px;
    cursor: move;
    touch-action: none;
}
